
.primary-clr{
   color: #FABE4C;
   ; 
}
.secondary-clr{
    color: #363958;
}
.btn-customed{
    background-color: #A4BC46;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    border: 0;

}

 h1{
font-family: Bebas Neue;
font-size: 65px;
font-style: normal;


}
h3,h5{
    color: #363958;
    font-size: 25px;
}

header, .contact-info{
    background-color:  #FFFBF0;
    ;
}

.nav-img img{
    width: 200px;
    height: 39px;
}

.hero-section img{
   width: 100%;
}
.ecommerce-footer{
    background-color:white;
    border: none;
}

.special-coloumn1 .row{
    margin: 30px 0;
   
  
}
.special-coloumn1 img{
 width: 40%;
}
.special-coloumn2 img{
    width: 100%;
 
}

.end-large-section img{
    width: 200px;
    height: 500px;
}

.ecommerce-card{
    border: 0 ;
}

.ecommerce-card img{
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
 
 
}
.ecommerce-card-footer{
    background-color: white ;
    border: 0 ;
}
.service1 img{
    width:100px
}
